body {
    font-family: 'Barlow', sans-serif;
    --marrom-claro: #B29463;
    --marrom-escuro: #816D4F;
}

.navbar-nav{
    width: 350px;
}

.img-fluid {
    width: 100%;
}

#btn {
    background-color: #B29463;
    color:black;
}

.btn-primary {
    width: 100%;
    border-color: #B29463;
    align-items: center;
    border-radius: 4px;
    font-size: 16px;
}

.banner-1 {
    background-image: url(./img/mobile/basic.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

} 

.banner-titulo {
    --bs-bg-opacity:.2;
}

.banner-2 {
    background-image: url(./img/mobile/basic2.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.banner-3 {
    background-image: url(./img/mobile/basic3.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.card {
    max-width: 350px;
}

footer {
    background-color: #B29463;

}

#customRange1 {
    color:  #B29463;
}

input[type=checkbox] {
    border: 2px solid var(--marrom-claro);
    box-shadow: none;
  }
  
  input[type=checkbox]:checked,
  input[type="checkbox"]:focus {
    background-color: var(--marrom-claro);
    border-color: var(--marrom-claro);
    box-shadow: none;
    outline: none;
  }

[data-bs-theme="dark"] {
    color: white;

}