* {
    padding: 0;
    margin: 0;
}

.img_principal {
    display: inline-block;
}


.img_cel {
    height: 539px;
    width: 360px;
    margin-left: 136px;
    display: inline-block;
    top: 8px;
    position: absolute;
    left: 136px;
}


.form {
    box-sizing: border-box;
    height: 399.98px;
    width: 350px;
    display: inline-block;
    position: absolute;
    border: 1px solid #dbdbdb;
    text-align: left;
    top:20.5px;
    border-radius: 1px;
    margin-left: 50%;
}

.logo {
    margin-left: 28%;
    margin-top: 30px;
    margin-bottom: 30px;  
}

form {
    text-align: center;
    
    
}

input {
    margin-bottom: 15px;
    background-color: #FAFAFA;
    width: 268px;
    height: 36px;
    border: 1px solid #FAFAFA
}


.entrar {
    width: 268px;
    height: 35px;
    background-color: #4db5f9;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

p {
    color:#385185;;
}

button {
    height: 36px;
    margin-bottom: 15px;
    background-color: #FAFAFA;
    width: 268px;
    height: 36px;
    color: #385185;
    font-weight: bold;
    border:none
}


a {
    text-decoration: none;
}
 p {
    padding-top: 15px;
 }

 .black {
    color: black;
    margin-bottom: 10px;
 }

.reset_senha {
    display: inline-block;
    position: absolute;
    border: 1px solid #dbdbdb;
    text-align: center;
    top:71%;
    width: 350px;
    margin-left: 50%;
    height: 55px;
}


.cadastro {
    color: #0095f7;
    font-weight: bold;
    text-align: center;
}

.logo_rodape {
    display: inline-block;
    position: absolute;
    top:80%;
    margin-left: 53%;
    text-align: center;

}

footer {
    position: absolute;
    top:97%;
    text-decoration: none;
    margin-left: 18%;
    margin-right: 15%;
    
}

.a_footer {
    color: #ab9cbd;
    padding: 4px;
    font-size: 12px;
   
   
}

.copyright{
    color: #ab9cbd;
    padding: 4px;
    font-size: 12px;
    margin-left: 40%;
}