* {
    padding: 0;
    margin: 0;
}

.img_principal {
    display: inline-block;
}



.img_cel {
    height: 539px;
    width: 360px;
    margin-left: 136px;
    display: inline-block;
}


.form {
    height: 772px;
    width: 350px;
    display: inline-block;
    position: absolute;
    top:0;
    border: 1px solid #dbdbdb;
    text-align: left
}

.logo {
    margin-left: 30%;
}
