body {
    background-color: #eef5ff;
}

section {
    background-color: white;
    margin-top: 80px;
    margin-left: 190px;
    margin-right: 370px;
    border-radius: 10px;
    font-family: 'DM Sans', sans-serif;
    Font size: 16px
}


.sidebar {
    height: 545px;
    width: 260px;
    margin-left: 15px;
    border-radius: 10px;
    display: inline-block;
    background-color: ;
    margin-top: 14px;
    position: relative;
    background-color: ;
}

img {
    display: inline-block;
    height: 557px;
    width: 260px;
}

.your_info {

    position: absolute;
    display: inline-block;
    left: 25px;
    top: 40px;
    width: 100px;
    height: 50px;
}

button {
    border-radius: 15px;
    background-color: #493eff;
    font-size: 15px;
    color:white;
    border-color: white;

}


.step1 {
    color: white;
    margin-left: 37px;
    width: 100px;
    display: inline-block;
    margin-top: -20px;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
}

.information_side {
    top: 95px;
    display: inline-block;
    position: absolute;
    height: 585px;
    width: 450px;
    background-color: 
}

.form_box {
    display: inline-block;
    margin-left: 70px;
    margin-top: 32px;
}

h2 {
    color: grey;
    font-size: 14px;
}

label {
    color: #03285a;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    display: inline-block;

}

input {
    height: 35px;
    width: 360px;
    border-radius: 5px;
    color: grey
}

.end {
    background-color: #03285a;
    color:white;
    position: absolute;
    left:400px;
    top:490px;
    left:350px;
    width: 100px;
    height: 40px;
    border-radius: 7px;
}

a {
    text-decoration: none;
    color:white
}


span {

    display: none;
    color: red;
    font-weight: bold;
    margin-left: 200px;
}

.arcade {
    display: inline-block;
    background-color: #eef5ff;
    height: 150px;
    width: 130px;
    border-radius: 10px;
    margin-top: 30px;
}

.advanced {
    display: inline-block;
    background-color: #eef5ff;
    height: 150px;
    width: 130px;
    border-radius: 10px;
    margin-top: 30px;
}