.banner {
    background-color: var(--cor-banner);
    color: var(--cor-de-fundo);
    text-align: center;
    padding: 2.5em 2em;
}

h2 {
    font-size: 18px;
    font-weight: 700;
}

p {
    font-weight: 500;
}

.pesquisa_banner {
   
}