.carrossel_titulo {
    color: #EB9B00;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    background-color: #FFF;
    text-transform: uppercase;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    max-resolution: 0.5em 0;
    padding: .25em .5em .5em;
}

.card {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: 'Poppins';
    margin: 1em;
    padding: 1em;
}

.descricao_h3 {
    color: #EB9B00;
    font-size: 16px;
    font-weight: 700;
}

.descricao_h2 {
    color: #002F52;
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;
}

.descricao_p {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 0.5em;
}

.descricao_card {
    display: flex;
    justify-content: space-between;
}

.card_botoes {

    justify-content: space-between;
    display: flex;
}

.botoes {
    display: flex;
}

.botoes_itens {
    margin: 0 .5em;

}

.hanchor {
    background-color: #EB9B00;
    color: #FFF;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    padding: 1em 2.2em;
    text-decoration: none;
}

.titulo_maisvendidos {
    background-color: #FFF;
    color: #EB9B00;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1em 0.5em 0.5em 0.5em;

}

.card_final {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 1em;
    padding: 1em;
}

.estrelas {
    color: #EB9B00;
    margin-bottom: 0.5em;
}

.card_avaliacao {
    display: flex;
    justify-content: space-between;
}

.botoes_2 {
    display: flex;

}

.botoes_itens_2 {
    margin: 0 .5em;
}

.card_botoes_2 {
    justify-content: space-between;
    display: flex;
}

img {
    margin-bottom: 0.5em;
}

.info_footer {
    background-color: #134367;
    color: #FFF;
    text-align: center;
}

.p_footer {
    font-size: 16px;
    font-weight: 300;
    padding: 1.25em;
    color: #FFF;
    text-align: center;
}

.card_footer {
    background-color: #002F52;
}
.li_footer {
    background-color: #EB9B00;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    margin: 2em 1em;
   
}

.ul_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.topicos_link {
    padding: 4em 2em;
}