.cabeçalho_menu_hamburger {
    width: 24px;
    height: 24px;
    background-image: url("../imagem/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    padding: 1em;
}

.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}


.lista_menu {
    display: none;
    position: absolute;
    top: 100%;
    color: #09395b;
    width: 60vw;

}

.container_botao {
    display: none;
}

.container_botao:checked~.lista_menu {
    display: block
}

.lista_menu_titulo,
.lista_menu_item {
    background-color: var(--branco);
    padding: 1em;
}

.lista_menu_titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista_menu_link {
    background: var(--azul, linear-gradient(160deg, #002F52 0%, #326589 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}


.h1_tablet {
    display: none;
}

.ul_tablet {
    display: none;
}

.p_icone {
    display: none;
}
.input_tablet {
    display: none;
}


@media screen and (min-width:1024px) {


    .container_imagem_logo {
        margin-left: 4em;
        padding-right: 0.5em;
    }



    .h1_tablet,
    .negrito_tablet {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .h1_tablet {
        font-weight: 400;
        display: block;
    }

    .negrito_tablet {
        font-weight: 700;
    }

    .ul_tablet {
        display: flex;
    }

    .item_li {
        font-size: 16px;
        font-family: var(--fonte_principal);
        font-weight: 400;
        padding-right: 4em;
        text-transform: uppercase;
    }

    #fav {
        display: none;
    }

    .container_imagem {
        padding-right: 3em;
    }

    .cabeçalho_menu_hamburger {
        display: none;
    }

    .lista_menu_tablet {
        display: none;
        position: absolute;
        top: 100%;
        color: #09395b;
        width: auto;
    }

    .input_tablet:checked~.lista_menu_tablet {
        display: block;
    }

    

    

}

@media screen and (min-width:1728px) {


    .container_a {

        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
        margin-right: 5em;

    }

    .p_icone {
        display: flex;
        margin-left: -3em;
    }

    .cabeçalho {
        padding: 0 2em;

    }


}