*{
    margin: 0;
    top:0;
    font-family: 'DM Sans', sans-serif;  
    box-sizing: border-box;
}


.container {
    width: 390px;
    height: 2410px;
}


.information_colum {
    background-color: black;
    color: white;
}


img {
    width: 300px;
    height: 300px;
    top: 40px;
    left: 40px;
    border: 1px solid #008000;
    border-radius: 130px;
    position: relative;
}


h1 {
    text-align: center;
    padding-top: 45px;        
}


h2 {
    text-align: center;
}

h3 {
    margin-left: 40px;
}


hr {
    background-color: #008000;   
    height: 1px;
    margin-top: 12px;
    margin-left: 38px;
    margin-right: 38px;
}


.contato {
    font-family: 'DM Sans', sans-serif;
    list-style: none;
    line-height: 30px;
    margin-top: 15px
}

i {
    color:#008000;   
}

a {
     color: white;
    text-decoration: none;
}


.educacao {
    list-style: none;
    line-height: 25px;
    margin-top: 15px
}


.ano {
    color:#008000;
}


.linguas {
    
    list-style: none;
    line-height: 25px;
    margin-top: 15px;
    padding-bottom: 40px;
}


.portugues {
    width: 280px;
    height: 5px;
}


.ingles {
    width: 200px;
    height: 5px;
}




.experience_colum {
    background-color: white;
    width: 390px;
    height: 354px;
}