* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    font-family: 'DM Sans', sans-serif;
}


.information_colum {
    background-color: black;
    padding: 40px;
    text-align: center;
    color: white;
}


img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid green;
    margin-bottom: 18px;
}


hr {
    background-color: #008000;
    height: 1px;
    margin-top: 18px;
}


.contato {
    list-style: none;
    text-align: left;
    background-color: black;
    margin-top: 15px
}


li {
    list-style: none;
}


i {
    color: #008000;
}


a {
    color: white;
    text-decoration: none;
}


.educacao {
    list-style: none;
    line-height: 25px;
    margin-top: 15px;
}


.ano {
    color: #008000;
}


.linguas {

    list-style: none;
    line-height: 25px;
    margin-top: 15px;
    padding-bottom: 20px;
}


.portugues {
    width: 280px;
    height: 5px;
}


.ingles {
    width: 200px;
    height: 5px;
}


.experience_colum {
    padding: 40px;
}


.h3_experience {
    padding-top: 30px;
}


.rodape {
    text-align: right;
    margin-top: 30px;
}

@media (min-width:992px) {
    .container {
        display: flex;
    }

    .information_colum img {
        width: 200px;
        height: 200px;
    }

}